@font-face

{
  font-family: LoLfont;
  src: url(../public/fonts/BeaufortforLOL-Bold.ttf);
}

@font-face
{
  font-family: searchFont;
  src: url(../public/fonts/BeaufortforLOL-Regular.ttf);
}

html
{
  /* margin: 0px;
  min-height: 100vh;
  background-image: url(../public/images/worlds2020background.jpg);
  background-size: contain; 
  background-blend-mode: color-burn;
  background-color: rgba(212, 134, 134, 0.21);
  background-repeat: no-repeat; */

}

body
{
  margin: 0px;
  min-height: 100vh;
  /* background-image: url(../public/images/worlds2020background.jpg); */
  /* background-size:cover; */
  /* background-blend-mode: color-burn; */
  background-color: rgba(212, 134, 134, 0.21);
  /* background-repeat: no-repeat; */
  /* background-attachment: fixed; */
  display: flex;
  flex-direction: row;
}

.page
{
  display: flex;
  flex-direction: row;
  /* background-color: yellow; */
  flex: 1;
  min-width: 100vw;
  min-height: 100%;
  align-content: center;
  margin: auto;


}

.leftdataContainer
{
  display: flex;
  flex: 1;
  background-color: green;
  font-family: searchFont;
  
}

.userInfoContainer
{
  background-color: purple;
  margin: 0;
}

.summonerName
{
  text-align: center;
}

.HighestMastery
{
  flex-direction: column;

}

.portraitContainer
{
  flex: 1;
  display: flex;
  flex-direction: column;
  background-color: aliceblue;
  margin: 0;
  align-content: space-between;
  text-align: justify;
  
}

.champSplashContainer
{
  display: flex;
  flex-direction: row;
}

.champSplash
{
  flex: 1;
  flex-direction: column;
  text-align: center;
  background-color: red;
}

.champname
{
  font-size: 40px;

}

.masteryPoints
{
  font-size: 20px;
}

.rankPortraitContainer
{
  flex: 1;
}

.rankInfoContainer
{
  display: flex;
  flex: 1;
  overflow: visible;
}

.rankInfoContainer
{
  display: flex;
  flex: 1;
  background-color: pink;
}

.rankIcon
{
  flex: 1;
  
}

.rankStats
{
  flex: 1.5;
  text-align: center;
}

.rankIcon > h2
{
  font-size: 20px;
}





















.rightdataContainer
{
  display: flex;
  flex: 1;
  flex-direction: column;
  background-color: blue;
  font-family: searchFont;
}

.gameContainer
{
  display: flex;
  flex: 2;
  flex-direction: row;
  padding: 10px;
}

.gameContainer > h2
{
  flex-direction: row;
  
}

.gameDataContainer
{
  background-color: green;
  flex-direction: row;
  flex: 1;
}




.playerInfoContainer
{
  display: flex;
  flex-direction: row;
  flex: 1;
  align-content: space-between;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.playerInfo
{
  margin: 0px;
  align-content: space-between;
  width: 8%;
}


.champIcon
{
  margin-left: auto;
}







.restcontainer
{
  flex: 1;
}


.searchcontainer
{
  display: flex;
  flex: .3;
  background-color: red;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  
}

.searchcontainer > h1
{
  font-family: LoLfont;
  font-size: 50px;
  color: aliceblue;
}

.searchcontainer > p
{
  font-family: searchFont;
  font-size: 40px;
  color: aliceblue;
}

.searchbar
{
  font-family: searchFont;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  font-size: 30px;
  border-radius: 20px;
  border: none;
  padding: 15px;
  opacity: 90%;

  
  background-color: rgb(75, 75, 75);
  color: rgb(149, 135, 255);
}

.searchbutton
{
  font-size: 20px;
  font-family: searchFont;
  size: 1000px;
}
