@font-face

{
  font-family: LoLfont;
  src: url(../public/fonts/BeaufortforLOL-Bold.ttf);
}

@font-face
{
  font-family: searchFont;
  src: url(../public/fonts/BeaufortforLOL-Regular.ttf);
}

html
{
  /* margin: 0px;
  min-height: 100vh;
  background-image: url(../public/images/worlds2020background.jpg);
  background-size: contain; 
  background-blend-mode: color-burn;
  background-color: rgba(212, 134, 134, 0.21);
  background-repeat: no-repeat; */

}

body
{
  margin: 0px;
  min-height: 100vh;

  background-color: rgb(217, 237, 255);



/* 
  background-image: url(../public/images/worlds2020background.jpg);
  background-size:cover; 
  background-blend-mode: color-burn;
  
  background-repeat: no-repeat;
  background-attachment: fixed;
   */
}

/* .background
{
  min-width: 100vw;
  min-height: 100vh;
  background-color:aliceblue;
} */

.page
{
  display: flex;
  flex-direction: row; 
  min-width: 50vw;
  min-height: 100%;
  align-content: center;
  margin: auto;
  /* background-color: aliceblue; */


}

.allRanksContainer
{
  display: flex;
  flex: 1;
  flex-direction: row;
  /* background-color: green; */
  font-family: searchFont;
  
}

.userInfoContainer
{
  display: flex;
  flex-direction: row;
  align-content: center;
  /* background-color: purple; */
  background: rgb(23,15,148);
  background: radial-gradient(circle, rgba(23,15,148,1) 0%, rgba(1,37,145,1) 47%, rgba(0,61,84,1) 93%);


  border-bottom-right-radius: 50px;
  border-bottom-left-radius: 0px;

  margin: 0;

}

.summonerName
{
  text-align: center;
  /* background-color: aliceblue; */
}



.portraitContainer
{
  flex: 1;
  display: flex;
  flex-direction: column;
  /* background-color: aliceblue; */
  margin: 0;
  align-content: space-between;
  text-align: justify;
  
}

.champSplashContainer
{
  display: flex;
  flex-direction: column;
  flex: 5;
}

.userIconContainer
{
  display: flex;
  flex-grow: 1;
  flex-direction: row;
  justify-self: center;
  /* background-color: darkblue; */
  /* background: rgb(23,15,148);
  background: radial-gradient(circle, rgba(23,15,148,1) 0%, rgba(1,37,145,1) 47%, rgba(0,61,84,1) 93%); */




border-radius: 50px;
  border-color: black;

}

.userIcon
{
  padding: 20px;
  font-size: 20px;
  color: rgb(227, 242, 255);

}

.userIconImg
{
  width: 150px;
  height: 150px;
  margin: auto;
  border-radius: 50px;
  
  /* object-fit: contain; */
  /* transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -webkit-transform: scale(0.5, 0.5) */
}





.HighestMastery
{
  margin: 0;

}

.SplashContainer
{
  display: flex;
  flex-direction: row;
}

.champSplash
{
  flex: 1;
  flex-direction: column;
  text-align: center;
  color: aliceblue;
  /* background-color: red; */
}

.champName
{
  font-size: 40px;
  margin: auto;

}

.masteryPoints
{
  font-size: 20px;
  margin: auto;
}

.rankPortraitContainer
{
  flex: 0;
  flex-direction: row;
}

.rankInfoContainer
{
  display: flex;
  flex: 1;
  overflow: visible;
  width: fit-content;
  color: rgb(227, 242, 255);
  /* background-color: pink; */
}

.rankIcon
{
  justify-self:auto;
  text-align: center;
  flex: 1;
  padding-bottom: 0px;
  
}

.rankStats
{
  flex: 1.5;
  text-align: center;
  padding-right: 10px;
  margin: auto;
}

.rankIcon > h2
{
  font-size: 30px;
  flex: 1.5;
  text-align: center;
  padding-right: 10px;
}





















.matchdataContainer
{
  display: flex;
  flex: 1;
  flex-direction: column;
  /* background-color: blue; */
  font-family: searchFont;
}

.gameContainer
{
  display: flex;
  flex: 2;
  flex-direction: row;
  padding: 10px;
}

.gameContainer > h2
{
  white-space: nowrap;
  padding-right: 5px;
  /* background-color: pink; */
  margin: auto;
  
}

.gameDataContainer
{
  /* background-color: green; */
  flex-direction: row;
  flex: 1;
  padding: 0;
  margin: 0;
  align-content: center;
}




.playerInfoContainer
{
  display: flex;
  flex-direction: row;
  flex: 1;
  /* align-content: space-between; */
  /* align-content: normal; */
  align-items:flex-start;
  padding: 0;

  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}


.playerInfo
{
  /* margin: 0px; */
  margin-top: auto;
  align-content: space-between;
  width: 8%;
  padding: 0;
}

/* .playerInfo */


.champIcon
{
  padding-right: 3px;
  /* padding: 0; */
  /* margin-right: 40%; */
  /* margin-left: auto; */
}







.restcontainer
{
  display: flex;
  flex-direction: column;
  flex: 1;
  /* flex-grow: 1; */

}

.searchContainerHome
{
  display: flex;
  flex: 2;
  /* background-color: aliceblue; */
  flex-direction: column;
  align-items: center;
  padding: 40px;
}

.searchContainerHome > h1
{
  font-family: LoLfont;
  font-size: 50px;
  color: blue;
}

.searchContainerHome > p
{

  margin-bottom: auto;
  padding-top: 70px;
  font-family: searchFont;
  font-size: 14px;
  color: black;
}


.searchContainerFound
{
  display: flex;
  flex: 2;
  /* background-color: aliceblue; */
  flex-direction: column;
  align-items: center;
  padding: 20px;

  /* margin: auto; */
  margin-bottom: 20px;

  border-top-left-radius: 20;
  border-top-right-radius: 20;

  /* border: 3px solid red; */
  /* border-radius: 20px; */

  /* background: rgb(23,15,148);
  background: radial-gradient(circle, rgba(23,15,148,1) 0%, rgba(1,37,145,1) 47%, rgba(0,61,84,1) 93%); */

  color: whitesmoke;


}

.searchContainerFound > h1
{
  font-family: LoLfont;
  font-size: 50px;
  
}

.searchContainerFound > p
{
  margin-bottom: auto;
  padding-top: 70px;
  font-family: searchFont;
  font-size: 14px;
}

.searchbar
{
  font-family: searchFont;
  margin-top: 100px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 300px;
  font-size: 30px;
  border-radius: 20px;
  border: none;
  padding: 15px;
  opacity: 90%;
  background-color: rgb(75, 75, 75);
  color: rgb(149, 135, 255);
}

.searchbutton
{
  font-size: 20px;
  font-family: searchFont;
  size: 1000px;
}

.credit
{
  display: flex;
  margin: auto;
  padding-left: 3px;
  /* background-color: aliceblue; */

}