

.profileContainer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* This assumes you want to center it in the full viewport height */
    /* text-align: center; */
    width: 100vw;
}

.profileInfo
{
    font-family: searchFont;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #a4c0d4;

}

.profileContainer > button
{
    margin: 5px;
    padding: 5px 10px;
}